<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scale=0">
<link rel="stylesheet" type="text/css" th:href="@{/css/l1.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/catalog.css}" />
<title th:utext="#{label.catalogLink}"></title>
</head>

<body>

	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header_row">
					<textarea id="message" hidden="true">Йо-хо-хо</textarea>
					<button id="speak" class="header_logo">
						<img src="#" th:src="@{/images/logotip2.png}">
					</button>
					<div class="menu_burger">
						<span></span>
					</div>
					<!-- 					<div class="brend">
						<img src="#" th:src="@{/images/logotip.png}">
					</div> -->
					<nav class="menu_body">
						<ul class="menu_list">
							<li><a th:href="@{/}" class="menu_link"
								th:utext="#{label.mainLink}"></a></li>
							<li><a th:href="@{/catalog}" class="menu_link"
								th:utext="#{label.catalogLink}"></a></li>
							<li><a th:href="@{/contacts}" class="menu_link"
								th:utext="#{label.contactsLink}"></a></li>
							<li><a th:href="@{/about-me}" class="menu_link"
								th:utext="#{label.aboutmeLink}"></a></li>
							<!-- 							<li>
								<div class="lang_link">
									<a th:href="@{lang(lang=en)}"><img src="#"
										th:src="@{/images/united_kingdom.png}"></a> <a
										th:href="@{lang(lang=ru)}"><img src="#"
										th:src="@{/images/russia.png}"></a> <a
										th:href="@{lang(lang=de)}"><img src="#"
										th:src="@{/images/germany.png}"></a>
								</div>
							</li> -->
							<li th:if="${cart.isEmpty()}"><a th:href="@{/basket}"><img
									src="#" th:src="@{/images/cart_empty1.png}"></a></li>
							<li th:if="${!cart.isEmpty()}"><a th:href="@{/basket}"><img
									src="#" th:src="@{/images/cart_full1.png}"></a></li>
							<li>
								<div sec:authorize="!isAuthenticated()">
									<a th:href="@{/login}"><img src="#"
										th:src="@{/images/icons-login2.png}"></a>
								</div>
								<div sec:authorize="isAuthenticated()">
									<div class="dropdown">
										<button onclick="myFunction()" class="dropbtn">
											<img src="#" th:src="@{/images/icons-login_succsess2.png}">
											<span th:if="${userName != null}" th:text="${userName}"></span>
										</button>
										<div id="myDropdown" class="dropdown-content">
											<a href="#">Info</a> <a href="#">Orders</a> <a
												th:href="@{/logout}">Log Out</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<main style="background-image: url(images/fon_personal_page.jpg);">
			<div class="container">

				<h1 class="main_title">Catalog</h1>
				<div class="page">

					<div class="page_content">

						<div class="options_bar">

							<div class="add" sec:authorize="hasRole('ADMIN')">
								<a th:href="@{/addNewProduct}"><button type="button"
										class="shine-button">Add new product</button></a>
							</div>

							<div class="search">
								<form action="#" th:action="@{/catalog}" method="get"
									name="searchForm" class="form_search">
									<div>
										<input type="text" name="search_product"
											placeholder="Name product" class="rounded-input"
											aria-label="Default"
											aria-describedby="inputGroup-sizing-default"> <input
											type="hidden" class="send_select" name="select"> <input
											type="hidden" class="send_price" name="selectPrice">
									</div>
									<div style="padding-left: 10px;">
										<button type="submit" class="shine-button">Search</button>
									</div>
								</form>
							</div>
							<!-- добавляются значения из  двух select в input формы поиска -->
							<div class="listType">
								<select name="select" size="1" class="select form-select"
									aria-label="Default select example">
									<option th:value="all">Select type</option>
									<option th:value="all">all</option>
									<option th:each="type : ${types}" th:utext="${type.name}"
										th:value="${type.name}" />
								</select>
							</div>

							<div class="listPrice">
								<select class="selectPrice form-select" name="selectPrice"
									size="1" aria-label="Default select example">
									<option th:value="none">Price</option>
									<option th:value="high">descending</option>
									<option th:value="low">ascending</option>
								</select>
							</div>
						</div>

					</div>

					<div class="page_catalog">
						<div>

							<div th:if="${not findProductFlag}">
								<table class="table">
									<thead>
										<tr>
											<th>View</th>
											<th>Name</th>
											<th>Price</th>
											<th>Type</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="prod, iStat : ${products.content}">
											<tr>
												<td><img src="#"
													th:src="@{{linkImg}(linkImg=${prod.ImagePath})}"
													onError="this.src='images/nophoto.png'"
													style="width: 100px; height: 100px;"></td>
												<td><a href="#"
													th:href="@{/info/{linkTitle}(linkTitle=${prod.id})}"
													th:text="${prod.name}"></a></td>
												<td th:text="${prod.price}"></td>
												<td th:text="${prod.typeProduct.name}"></td>
												<td sec:authorize="hasRole('ADMIN')"><a
													th:href="@{/updateProduct/{linkTitle}(linkTitle=${prod.id})}"><button
															type="button" class="shine-button">Update</button></a> <a
													th:href="@{/deleteProduct/{linkTitle}(linkTitle=${prod.id})}"><button
															type="button" class="shine-button">Delete</button></a></td>
												<td><a
													th:href="@{/addInBasket/{linkTitle}(linkTitle=${prod.id})}"><button
															type="button" class="shine-button">In cart</button></a></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>

							<div th:if="${findProductFlag}">
								<p>Nothing found</p>
							</div>
						</div>

						<div class="paginate wrapper">
							<!-- The "wrapper" is just a comestic addition. You don't need this for the pagination to work. -->
							<ul th:if="${products.totalPages > 0}">
								<li><a href="">&lang;</a></li>
								<li th:each="pageNumber : ${pageNumbers}"><a
								th:href="@{/catalog(size=${products.size}, page=${pageNumber},search_product=${search_product},
								select=${select},selectPrice=${selectPrice})}"
								th:text=${pageNumber}
								th:class="${pageNumber==products.number + 1} ? active"></a></li>
								<li><a href="">&rang;</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</main>

		<footer>
			<div class="container">
				<div class="footer_container">

					<div class="footer_block_menu one_spoiler_open">
						<div class="footer_block_spoiler ">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.contactsLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								<div>
									<img src="#" th:src="@{images/icons/icons-телефон.png}">
									Velcome +234234234234
								</div>
								<img src="#"
									th:src="@{images/icons/icons-электронная-почта.png}">
								Mail mymail@mail.ru
							</div>
						</div>
						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.SocialLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								<div>
									<a href="https://www.instagram.com/" class="society_link"><img
										src="#" th:src="@{images/icons/icons-instagram.png}">
										Instagram</a>
								</div>
								<div>
									<a href="https://www.vk.com/" class="society_link"><img
										src="#" th:src="@{images/icons/icons-вконтакте.png}"> VK</a>
								</div>
								<div>
									<a href="https://www.viber.com/ru/" class="society_link"><img
										src="#" th:src="@{images/icons/icons-viber.png}"> Viber</a>
								</div>
							</div>
						</div>
						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.UnitedInfoLink}"></div>
							<div class="footer_block_spoiler_menu_text"
								id="current_date_time_block2">Here will be located some
								general information</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script th:src="@{/js/l1.js}"></script>
	<!--скрипт добавления значений из select в input из формы поиска-->
	<script type="text/javascript">
		$('.select').on('input', function() {
			var sel = $('.select option:selected').val();

			$('.send_select').val(sel);
		});
	</script>
	<script type="text/javascript">
		$('.selectPrice').on('input', function() {
			var sel = $('.selectPrice option:selected').val();

			$('.send_price').val(sel);
		});
	</script>
</body>
</html>