<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scale=0">
     <link rel="stylesheet" type="text/css" th:href="@{/css/l1.css}"/>
    <title th:utext="#{label.contactsLink}"></title>
</head>

<body>

    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header_row">
                    <a href="" class="header_logo">
                        <img src="images/logo1.jpg" alt="">
                    </a>
                    <div class="menu_burger">
                        <span></span>
                    </div>
                    <nav class="menu_body">
                        <ul class="menu_list">
                            <li><a th:href="@{/}" class="menu_link" th:utext="#{label.mainLink}"></a></li>
							<li><a th:href="@{/catalog}" class="menu_link" th:utext="#{label.catalogLink}"></a></li>
							<li><a th:href="@{/contacts}" class="menu_link" th:utext="#{label.contactsLink}"></a></li>
							<li><a th:href="@{/about-me}" class="menu_link" th:utext="#{label.aboutmeLink}"></a></li>>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main style="background-image: url(images/fon_personal_page.jpg);">
            <div class="container">

                <h1 class="main_title">Контактная информация</h1>
                <div class="page">
                
                 <div class="page_text_contacts">
						Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Nam laboriosam consequuntur beatae
						maxime quas accusamus modi natus commodi possimus minima aut
						minus, quibusdam inventore maiores deserunt unde, enim non quasi
						nesciunt vitae voluptate iure consequatur ut. Nesciunt atque
						facilis quidem ipsa nihil aspernatur, vitae, fuga earum obcaecati
						vero qui laboriosam porro et ad magni doloremque quisquam optio
						placeat fugit accusantium? Sit molestias id dolores nam dolor,
						nobis sunt quod repellat vel neque officiis blanditiis error,
						ipsam eius accusantium est rerum vero. Porro magni molestiae,
						tempora, dolorum voluptate quaerat reprehenderit repudiandae rem
						tempore molestias sequi ex doloribus magnam facere, voluptates,
						rerum! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Veritatis in vel voluptas non ex similique repellendus ea iste
						ipsum eum deserunt maxime facere labore dicta perferendis, dolorum
						doloremque fugit nostrum recusandae accusamus modi inventore. Nam
						alias labore, omnis aut tempora qui. Commodi ad nulla in possimus
						consequuntur alias dolorem quae natus culpa animi sequi magnam
						quis quasi ut laborum pariatur corrupti, aperiam error. Officia,
						rerum. Accusamus unde asperiores ab error aut necessitatibus hic
						repellendus. Perferendis quas molestias dolorum esse ipsam,
						aspernatur corporis quidem. Ullam doloremque neque nihil tempore
						aperiam, corporis vel. Repellat consequuntur modi accusantium,
						repudiandae voluptatem quis sequi eveniet necessitatibus amet
						illum quaerat architecto est sit eaque dolorum dolores facilis
						optio excepturi sapiente quibusdam. Atque, consectetur assumenda
						ad aspernatur! Sit, sequi tempore cum odit ipsa temporibus
						officiis, dolorem sapiente deserunt tempora! Amet itaque, rerum
						atque architecto commodi illum cum. Quaerat vero suscipit aut
						minima, dicta illum neque incidunt. Quasi alias ut doloremque in
						veritatis ipsum quos laudantium cumque quisquam quia corporis sunt
						molestiae architecto voluptate ipsa neque provident id molestias,
						ex debitis nihil, distinctio natus, quibusdam temporibus! Mollitia
						nihil eligendi aliquid vitae recusandae id adipisci blanditiis
						minus doloribus ab tempore repellat commodi, quidem illo assumenda
						ullam nostrum repudiandae totam magni explicabo perspiciatis
						tempora et. Ullam hic eius aliquam quo ratione, veniam inventore
						quidem, dolores eaque officia fugit voluptates cumque quas vero ab
						eligendi quis minus mollitia voluptatibus autem assumenda. Omnis
						aliquam vero quia voluptatum alias cupiditate eius at est, magni
						assumenda iusto dolores. Error fugiat eaque aliquid nam similique
						vel, sit nemo earum non fugit quia accusantium odit, sapiente
						reprehenderit molestiae laudantium quos provident, enim beatae
						optio! Hic sapiente impedit alias perferendis eum tempora fugit.
						Aperiam commodi architecto ratione enim suscipit atque, officia et
						minus provident blanditiis dolores at, amet natus delectus nobis,
						quam deserunt nemo inventore modi eligendi.Lorem
						ipsum dolor sit amet, consectetur adipisicing elit. Odio modi
						voluptatem, hic, non beatae provident sequi. Animi neque eius at
						earum tempora tempore amet doloribus voluptates ipsum illo ab nam
						odio placeat aut accusamus recusandae assumenda fuga, natus
						nesciunt, culpa sequi cum explicabo ad eveniet laboriosam! Quam
						debitis voluptatem necessitatibus ut, saepe delectus explicabo
						ratione, repellat tempore omnis repellendus molestias facilis,
						ipsum. Quidem corrupti inventore, magni impedit voluptate
						assumenda dolor sed blanditiis sit error esse possimus rem nulla,
						est sequi! Iste, reprehenderit alias neque officia et voluptate
						architecto corrupti quod consequatur! Nulla repellendus animi
						magnam assumenda consectetur laudantium nobis dolore. Lorem ipsum
						dolor sit amet, consectetur adipisicing elit. Earum dolores soluta
						commodi eos. Dicta mollitia molestias maiores numquam alias
						officiis culpa tempora ullam sapiente id dolor vitae fuga pariatur
						expedita impedit rem, fugit, adipisci tenetur amet accusantium
						saepe illum nisi a! Eligendi id tenetur quia consectetur ducimus
						hic sit repudiandae quas omnis, maiores autem corporis accusantium
						odit doloremque, soluta quidem inventore, illo beatae ab. Veniam,
						nemo repudiandae sit dolorem a nulla maxime, quaerat explicabo
						vitae deleniti debitis. Dignissimos, quisquam, aperiam autem
						eligendi distinctio inventore voluptas dolorum voluptatem nam
						obcaecati magnam impedit, magni a.
					</div>
                </div>


            </div>
        </main>

        <footer>
            <div class="container">
                <div class="footer_container">

                    <div class="footer_block_menu one_spoiler_open">
						<div class="footer_block_spoiler ">
							<div class="footer_block_spoiler_menu_title" th:utext="#{label.contactsLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								Velcome +234234234234 <br> Mail sdfgsdfgd@djffkgbkd.dfg
							</div>
						</div>
						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title" th:utext="#{label.SocialLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								ВКонтакте ваопдваповдапдва <br> Instagram
								dgfdjfkghdkjfgkdfg
							</div>
						</div>
						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title" th:utext="#{label.UnitedInfoLink}"></div>
							<div class="footer_block_spoiler_menu_text"
								id="current_date_time_block2">Здесь будет находиться
								какая-то общая информация</div>
						</div>
					</div>
                    
                    <div class="footer_image">
                        <img src="images/mms2.gif" alt="">
                        <img src="images/mms1.gif" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script th:src="@{/js/l1.js}"></script>
</body></html>
