<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scale=0">
     <link rel="stylesheet" type="text/css" th:href="@{/css/l1.css}"/>
<title>Error page</title>
</head>
<body>
<div class="wrapper">
         <header class="header">
            <div class="container">
                <div class="header_row">
                    <a href="" class="header_logo">
                        <img src="images/logo1.jpg" alt="">
                    </a>
                    <div class="menu_burger">
                        <span></span>
                    </div>
                    <nav class="menu_body">
                        <ul class="menu_list">
                           <li><a href=mainPage class="menu_link">Main</a></li>
							<li><a href="catalog" class="menu_link">Products</a></li>
                            <li><a href="contacts" class="menu_link">Contacts</a></li>
							<li><a href="about-me" class="menu_link">About me</a></li>>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <main  style="background-image: url(images/chok1.jpg);">
            <div class="container">

                <h1 class="main_title"> Возникла ошибка ${message} </h1>
                <div class="page">
                  <div><a th:href="@{/}">Back</a>.</div>
                </div>


            </div>
        </main>
        
<footer>
            <div class="container">
                <div class="footer_container">

                    <div class="footer_block_menu one_spoiler_open">
                        <div class="footer_block_spoiler ">
                            <div class="footer_block_spoiler_menu_title">
                                Контакты
                            </div>
                            <div class="footer_block_spoiler_menu_text">
                                Velcome +234234234234
                                <br>
                                Mail sdfgsdfgd@djffkgbkd.dfg
                            </div>
                        </div>
                        <div class="footer_block_spoiler">
                            <div class="footer_block_spoiler_menu_title">
                                Социальные сети
                            </div>
                            <div class="footer_block_spoiler_menu_text">
                                ВКонтакте ваопдваповдапдва
                                <br>
                                Instagram dgfdjfkghdkjfgkdfg
                            </div>
                        </div>
                        <div class="footer_block_spoiler">
                            <div class="footer_block_spoiler_menu_title">
                                Общая информация
                            </div>
                            <div class="footer_block_spoiler_menu_text" id="current_date_time_block2">
                                Здесь будет находиться какая-то общая информация
                            </div>
                        </div>
                    </div>
                    <div class="footer_image">
                        <img src="images/mms2.gif" alt="">
                        <img src="images/mms1.gif" alt="">
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>