<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html;">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scale=0">
<link rel="stylesheet" type="text/css" th:href="@{/css/l1.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/images/icon.jpg}">
<title th:utext="#{label.mainLink}"></title>
</head>

<body>

	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header_row">
					<a href="" class="header_logo"> <img src="images/logo1.jpg"
						alt="">
					</a>
					<div class="menu_burger">
						<span></span>
					</div>
					<!-- <div class="brend"><img alt="" src="images/logotip.png"></div> -->
					<nav class="menu_body">
						<ul class="menu_list">
							<li><a th:href="@{/}" class="menu_link"
								th:utext="#{label.mainLink}"></a></li>
							<li><a th:href="@{/catalog}" class="menu_link"
								th:utext="#{label.catalogLink}"></a></li>
							<li><a th:href="@{/contacts}" class="menu_link"
								th:utext="#{label.contactsLink}"></a></li>
							<li><a th:href="@{/about-me}" class="menu_link"
								th:utext="#{label.aboutmeLink}"></a></li>
							<div class="lang_link">
								<a th:href="@{lang(lang=en)}"><img
									src="images/united_kingdom.png"></a> <a
									th:href="@{lang(lang=ru)}"><img src="images/russia.png"></a>
								<a th:href="@{lang(lang=de)}"><img src="images/germany.png"></a>
								<div sec:authorize="!isAuthenticated()"> <a
									th:href="@{/login}"><img src="images/icons-login.png"></a>
								</div> <div sec:authorize="isAuthenticated()"> 
									<form th:action="@{/logout}" method="post">
										<button type="submit" value="Logout" ><img
										src="images/icons-login_succsess.png"></button>
									</form>
								</div> 
							</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</header>

		<main style="background-image: url(images/chok1.jpg);">
			<div class="container">

				<h1 class="main_title">Gallery</h1>
				<div class="page">
					<div class="gallery" id="gallery">
						<img src="images/images_gallery_1.jpg" alt="picture"
							class="gallery_images">
						<div class="sign_gallery_picture" id="sign1">Picture example
							#1</div>
						<div class="description_gallery_picture" id="description1">Lorem
							ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
							itaque esse sit vitae eum soluta, officia quisquam provident non
							rerum deleniti enim, atque architecto quasi reiciendis
							repellendus quaerat doloremque animi possimus odit sapiente,
							adipisci. Dolorem vitae laboriosam expedita tenetur aperiam modi
							sint esse, magni doloribus sit laudantium, inventore voluptate
							magnam repellat unde libero! Possimus fuga neque fugiat. Dolore
							sed voluptates aliquid fugit, cumque, esse odio debitis quod,
							vitae modi aperiam non quidem sapiente cupiditate officiis itaque
							amet? Deleniti voluptates animi porro mollitia impedit debitis
							nisi ratione qui eos similique dolor facilis ipsum odio, nam
							deserunt necessitatibus, repellat tempora atque eaque!</div>
						<img src="images/images_gallery_2.jpg" alt="picture"
							class="gallery_images">
						<div class="sign_gallery_picture" id="sign2">Picture example
							#2</div>
						<div class="description_gallery_picture" id="description2">Lorem
							ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
							itaque esse sit vitae eum soluta, officia quisquam provident non
							rerum deleniti enim, atque architecto quasi reiciendis
							repellendus quaerat doloremque animi possimus odit sapiente,
							adipisci. Dolorem vitae laboriosam expedita tenetur aperiam modi
							sint esse, magni doloribus sit laudantium, inventore voluptate
							magnam repellat unde libero! Possimus fuga neque fugiat. Dolore
							sed voluptates aliquid fugit, cumque, esse odio debitis quod,
							vitae modi aperiam non quidem sapiente cupiditate officiis itaque
							amet? Deleniti voluptates animi porro mollitia impedit debitis
							nisi ratione qui eos similique dolor facilis ipsum odio, nam
							deserunt necessitatibus, repellat tempora atque eaque!</div>
						<img src="images/images_gallery_3.jpg" alt="picture"
							class="gallery_images">
						<div class="sign_gallery_picture" id="sign3">Picture example
							#3</div>
						<div class="description_gallery_picture" id="description">Lorem
							ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
							itaque esse sit vitae eum soluta, officia quisquam provident non
							rerum deleniti enim, atque architecto quasi reiciendis
							repellendus quaerat doloremque animi possimus odit sapiente,
							adipisci. Dolorem vitae laboriosam expedita tenetur aperiam modi
							sint esse, magni doloribus sit laudantium, inventore voluptate
							magnam repellat unde libero! Possimus fuga neque fugiat. Dolore
							sed voluptates aliquid fugit, cumque, esse odio debitis quod,
							vitae modi aperiam non quidem sapiente cupiditate officiis itaque
							amet? Deleniti voluptates animi porro mollitia impedit debitis
							nisi ratione qui eos similique dolor facilis ipsum odio, nam
							deserunt necessitatibus, repellat tempora atque eaque!</div>
					</div>
				</div>


			</div>
		</main>

		<footer>
			<div class="container">
				<div class="footer_container">

					<div class="footer_block_menu one_spoiler_open">
						<div class="footer_block_spoiler ">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.contactsLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								<div>
									<img src="images/icons/icons-телефон.png" alt=""> Velcome
									+234234234234
								</div>
								<img src="images/icons/icons-электронная-почта.png" alt="">
								Mail sdfgsdfgd@djffkgbkd.dfg
							</div>
						</div>
					</div>
					<div class="footer_block_spoiler">
						<div class="footer_block_spoiler_menu_title"
							th:utext="#{label.SocialLink}"></div>
						<div class="footer_block_spoiler_menu_text">
							<div>
								<a href="https://www.instagram.com/" class="society_link"><img
									src="images/icons/icons-instagram.png" alt=""> Instagram</a>
							</div>
							<div>
								<a href="https://www.vk.com/" class="society_link"><img
									src="images/icons/icons-вконтакте.png" alt=""> VK</a>
							</div>
							<div>
								<a href="https://www.viber.com/ru/" class="society_link"><img
									src="images/icons/icons-viber.png" alt=""> Viber</a>
							</div>
						</div>
					</div>
					<div class="footer_block_spoiler">
						<div class="footer_block_spoiler_menu_title"
							th:utext="#{label.UnitedInfoLink}"></div>
						<div class="footer_block_spoiler_menu_text"
							id="current_date_time_block2">Здесь будет находиться
							какая-то общая информация</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script th:src="@{/js/l1.js}"></script>
</body>
</html>
