<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html;">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scale=0">
<link rel="stylesheet" type="text/css" th:href="@{/css/l1.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/images/icon.jpg}">
<title th:utext="#{label.mainLink}"></title>
</head>

<body>

	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header_row">
					<textarea id="message" hidden="true">Йо-хо-хо</textarea>
					<button id="speak" class="header_logo">
						<img src="images/logo1.jpg" alt="">
					</button>
					<div class="menu_burger">
						<span></span>
					</div>
					<!-- <div class="brend"><img alt="" src="images/logotip.png"></div> -->
					<nav class="menu_body">
						<ul class="menu_list">
							<li><a th:href="@{/}" class="menu_link"
								th:utext="#{label.mainLink}"></a></li>
							<li><a th:href="@{/catalog}" class="menu_link"
								th:utext="#{label.catalogLink}"></a></li>
							<li><a th:href="@{/contacts}" class="menu_link"
								th:utext="#{label.contactsLink}"></a></li>
							<li><a th:href="@{/about-me}" class="menu_link"
								th:utext="#{label.aboutmeLink}"></a></li>
							<li>
								<div class="lang_link">
									<a th:href="@{lang(lang=en)}"><img src="#"
										th:src="@{/images/united_kingdom.png}"></a> <a
										th:href="@{lang(lang=ru)}"><img src="#"
										th:src="@{/images/russia.png}"></a> <a
										th:href="@{lang(lang=de)}"><img src="#"
										th:src="@{/images/germany.png}"></a>
								</div>
							</li>
							<li><a th:href="@{/basket}"><img src="#"
									th:src="@{/images/shoppingcartempty.png}"></a></li>
							<li>
								<div sec:authorize="!isAuthenticated()">
									<a th:href="@{/login}"><img src="#"
										th:src="@{/images/icons-login.png}"></a>
								</div>
								<div sec:authorize="isAuthenticated()">
									<div class="login_user_info">
										<span>Welcome&nbsp;</span><span th:if="${userName != null}"
											th:text="${userName}"></span>
									</div>
									<a th:href="@{/logout}" class="floating-button">Log Out</a>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</header>

		<main style="background-image: url(images/chok1.jpg);">
			<div class="container">

				<h1 class="main_title">Gallery</h1>
				<div class="page">
					<div class="gallery" id="gallery">
						<img src="images/img1.jpg" alt="picture" class="gallery_images">
						<div class="sign_gallery_picture" id="sign1">Chocolate</div>
						<div class="description_gallery_picture" id="description1">Handmade
							chocolate for you and your loved ones from quality ingredients</div>
						<img src="images/img2.jpg" alt="picture" class="gallery_images">
						<div class="sign_gallery_picture" id="sign2">Small box</div>
						<div class="description_gallery_picture" id="description2">Juicy
							fruit in chocolate glaze is a favorite dessert for adults and
							children. Chocolate perfectly emphasizes the natural aroma of
							fruits, and they, in turn, significantly enrich the taste and
							aroma of cocoa beans. Such sweets have a moderate sweetness and
							will appeal even to supporters of a healthy lifestyle. After all,
							the vitamins in fruits are preserved during the production
							process, and the glaze layer is very thin - this is an important
							argument for those who care about their figure and adhere to a
							healthy diet. The only negative is that such sweets have a short
							shelf life.</div>
						<img src="images/img3.png" alt="picture" class="gallery_images">
						<div class="sign_gallery_picture" id="sign3">Assorted</div>
						<div class="description_gallery_picture" id="description">A
							set of sweets with different flavors.</div>
					</div>
				</div>


			</div>
		</main>

		<footer>
			<div class="container">
				<div class="footer_container">

					<div class="footer_block_menu one_spoiler_open">
						<div class="footer_block_spoiler ">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.contactsLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								<div>
									<img src="images/icons/icons-телефон.png" alt=""> Velcome
									+234234234234
								</div>
								<img src="images/icons/icons-электронная-почта.png" alt="">
								Mail mymail@mail.ru
							</div>
						</div>

						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.SocialLink}"></div>
							<div class="footer_block_spoiler_menu_text">
								<div>
									<a href="https://www.instagram.com/" class="society_link"><img
										src="images/icons/icons-instagram.png" alt=""> Instagram</a>
								</div>
								<div>
									<a href="https://www.vk.com/" class="society_link"><img
										src="images/icons/icons-вконтакте.png" alt=""> VK</a>
								</div>
								<div>
									<a href="https://www.viber.com/ru/" class="society_link"><img
										src="images/icons/icons-viber.png" alt=""> Viber</a>
								</div>
							</div>
						</div>
						<div class="footer_block_spoiler">
							<div class="footer_block_spoiler_menu_title"
								th:utext="#{label.UnitedInfoLink}"></div>
							<div class="footer_block_spoiler_menu_text"
								id="current_date_time_block2">Here will be located some
								general information</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script th:src="@{/js/l1.js}"></script>
</body>
</html>
