@charset "UTF-8";
form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
    width: 550px;
  
}
form div{
    width: 440px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
}
.image_preview{
	padding-top: 10px;
	padding-bottom: 10px;
}
.input_name:invalid,
.input_price:invalid{
  border: 2px solid red;
}

.input_name:invalid:required,
.input_price:invalid:required {
  background-color: #ff8080;
}

.input_name:valid,
.input_price:valid{
  border: 2px solid #00ff00;
}