form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  
}
form div{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    text-align:center;
    padding-left: 25px;
    padding-bottom: 25px;
}
#formFile{
	width: 46%;
	height:100%;
	border: 1px solid gray;
	border-radius: 10px;
}
.rounded-input{
	margin-left: 50px;
}
.shine-button{
	width: 50%;
}

.image_preview{
	padding-bottom: 10px;
	padding-left: 325px;
}
.input_name:invalid,
.input_price:invalid{
  border: 2px solid red;
}

.input_name:invalid:required,
.input_price:invalid:required {
  background-color: #ff8080;
}

.input_name:valid,
.input_price:valid{
  border: 2px solid #00ff00;
}